
*.npy
*.txt
*.ps1
*.7z
*.pth
*.csv
*.pt
*.log
*.png
*.tif
*.tiff
*.jpg
*.jpeg
*.bmp
*.svg
*.pdf
*.xlsx
*.docx
*.tex
*.whl
*.ipynb

/PaperWriting
/DrawFigure
/pythonSIFT
/result
/TrainedModel
/__pycache__
/.vscode
/mmseg
/mmengine
/mmpretrain
/mmdetection
/mm_work_dirs
/mm_conc_dirs
